ul,p{
padding: 0;
margin: 0;
}
.i-product-details-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: white;
  flex: 1;
}
.iheader-main {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 20;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.04);
}
.i-header-main-wrap {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  min-height: 0px;
  min-width: 0px;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  border-width: 0px;
  background-color: rgb(207, 235, 254);
}
.i-header-content {
  display: flex;
  flex-direction: row;
  margin: 12px 0px 12px 8px;
}
.iback-button {
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 40px;
}
.i-header-searchbar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  position: relative;
  border: 1.6px solid rgb(88, 171, 250);
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  height: 40px;
  margin-left: 8px;
  margin-right: 4px;
  padding-right: 12px;
}
.i-searchicon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
.i-searchtext {
  color: rgb(112, 112, 112);
  text-align: left;
  max-width: 100%;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 18px;
  font-family: "regular";
}
.i-cartarea {
  display: flex;
}
.i-cart-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 0px 8px;
}
.i-cart-imgwrapper {
  display: flex;
  flex-direction: row;
  margin-right: -8px;
}
.i-body-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
  max-height: calc(100dvh-68px);
}
.i-body-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.i-adsection {
  display: flex;
  width: 100%;
}
.i-ad-content {
  display: flex;
  flex-direction: row;
  background-color: rgb(250, 250, 250);
  border-radius: 8px;
  margin: 6px 8px;
  padding: 4px;
  overflow: hidden;
}
.i-ad-leftsection {
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}
.i-ad-left-image-area {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  height: 40px;
  width: 40px;
  min-width: 40px;
}
.i-ad-left-image-area img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
  aspect-ratio: 1 / 1;
}
.i-ad-item-name-area {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 1;
  align-items: stretch;
  min-height: 0px;
  min-width: 0px;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  border-width: 0px;
  margin-left: 8px;
}
.i-ad-item-name {
  display: inline;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(51, 51, 51);
  font-size: 12px;
}
.i-ad-item-name-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: 3px;
}
.i-ad-discount-percent {
  color: rgb(0, 139, 55);
  display: inline;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: 10px;
  line-height: 12px;
  font-family: "bold";
}
.i-ad-cutted-price {
  color: rgb(112, 112, 112);
  display: inline;
  white-space: pre-wrap;
  text-decoration-line: line-through;
  margin-left: 2px;
  font-size: 10px;
  line-height: 12px;
}
.i-ad-original-price {
  color: rgb(51, 51, 51);
  white-space: pre-wrap;
  margin-left: 2px;
  font-size: 10px;
  line-height: 12px;
  font-family: "bold";
}
.i-ad-rightsection {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.i-ad-ad-text {
  color: rgb(255, 255, 255);
  display: inline;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  overflow: hidden;
  font-size: 10px;
  line-height: 12px;
  font-family: "bold";
  padding: 4px 6px;
  /* padding-left: 4px;
    padding-right: 8px; */
}

.i-main-image-section {
  display: flex;

  flex-direction: column;

  min-height: 0px;
  min-width: 0px;
  position: relative;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0, 0.02);
  overflow: hidden;
  height: 502.5px;
}
.i-image-wrapp {
  display: flex;

  flex-direction: column;

  position: relative;

  box-sizing: border-box;
  overflow: hidden;
}
.i-image-wrapp {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  width: 100%;
  box-sizing: border-box;
}
.i-image-area {
  flex: 1 1 0%;
  aspect-ratio: 3/4;
  width: 100%;
  opacity: 1;
  background-color: rgb(0, 0, 0, 0.02);
}
.i-image-area {
  flex: 0 0 100%;
  scroll-snap-align: start;
  aspect-ratio: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.02);
}
.i-image-container {
  width: 100%;
  margin: auto;
  display: block;
  object-fit: contain;
  aspect-ratio: 3 / 4;
  max-width: 700px;
}
.i-image-heart-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 16px;
  right: 16px;
  align-items: flex-end;
}
.i-image-heart-button {
  display: flex;
  border-radius: 8px;
  margin-bottom: 12px;
}
.i-image-heart-button-container {
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-color: rgb(224, 224, 224);
  height: 32px;
  width: 32px;
  border-radius: 8px;
  background-color: white;
  border-width: 0px;
  display: flex;
  flex-direction: column;
}
.i-image-arrow-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 8px;
}
.i-image-down-over-items {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 16px;
  left: 16px;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  background-color: white;
}
.i-image-down-over-item-rating {
  color: rgb(51, 51, 51);
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  font-family: "bold";
  margin-right: 2px;
}
.i-image-rating-count {
  color: rgb(112, 112, 112);
  margin-left: 2px;
  font-size: 12px;
  line-height: 16px;
  font-family: "regular";
}
.i-buynow-footer-area {
  position: sticky;
  bottom:0px;
  display: flex;
  flex-direction: row;
  background-color:white;
}
.i-buynow-flex-wrap {
  display: flex;
  flex-direction:row;
  background-color: rgb(255, 255, 255);
  padding: 8px 16px 8px 8px;
  border-top-right-radius: 16px;
  flex-grow: 1;
  border-top-left-radius: 16px;
}
.i-footer-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  height: 44px;
  width: 44px;
  border-radius: 12px;

  border: 1px solid rgb(224, 224, 224);
}
.i-buy-now-rightarea {
  display: flex;
  flex-direction: row;
  flex: 1 1 0%;
  position: relative;
}
.i-buy-now-emi-area {
  display: flex;
  margin-left: 8px;
  flex-grow: 1;
}
.i-buy-now-emi-wrap {
  height: 44px;
  min-width: 44px;
  border-width: 1px;
  border-radius: 12px;
  border-color: rgb(224, 224, 224);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* padding-inline: 26.7px; */
  padding-right: 27.7px;
  flex-grow: 1;
  padding-left: 25.5px;
  display: flex;
  border-style: solid;
  opacity: 1;
  flex-direction: column;
}
.i-buy-now-wrap {
  height: 44px;
  min-width: 145.44px;
  border-width: 1px;
  border-radius: 12px;
  border-color: rgb(224, 224, 224);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* padding-inline: 26.7px; */
  /* padding-right: 38.7px; */
  flex-grow: 1;
  padding-right: 1px;
  display: flex;
  border-style: solid;
  opacity: 1;
  flex-direction: column;
  background: linear-gradient(90deg, rgb(255, 228, 92), rgb(255, 193, 3));
}
.i-buy-emi-text1 {
  font-size: 14px;
  font-family: "bold";
  margin-top: 3.8px;
  color: rgb(51, 51, 51);
}
.i-buy-now-outer {
  display: flex;
  flex-grow: 1;
}
.i-buy-now-text1 {
  font-size: 14px;
  font-family: "bold";
  margin-top: 0px;
  color: rgb(51, 51, 51);
}
.i-buy-emi-text2 {
  font-size: 11px;
  color: rgb(51, 51, 51);
  position: relative;
  margin-top: -2px;
  margin-left: 3px;
  margin-bottom: 2px;
}
.i-buy-now-text2 {
  font-family: "bold";
  font-size: 12px;
}
.i-buy-emi-flex {
  display: flex;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  flex-direction: column;
}

.i-image-blue-dot-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25px;
  justify-content: center;
}
.i-image-dot-inner-wrap {
  display: flex;
  flex-direction: column;
  width: 96px;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
}
.i-image-blue-content {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  transform: translateX(0px);
}
.i-blue-dot {
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  margin-left: 4px;
  transform: scale(1.4);
  display: flex;
}
.i-product-name-brand-section {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
}
.i-product-name-brand-outer-wrap {
  display: flex;
  flex-direction: column;
  margin: 16px 16px 8px 16px;
}
.i-product-brand-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.i-product-brand-name {
  color: #333333ff;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-width: 0;
  text-align: center;
  margin-right: 8px;
  font-size: 14px;
  line-height: 18px;
  font-family: "bold";
}
.i-product-visit-store-text {
  color: #1967f2ff;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 16px;
  font-family: "bold";
}
.i-product-name-area {
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  position: relative;
  padding-top: 4px;
}
.i-product-name-content {
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  font-family: "regular";
  line-height: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.i-more-text {
  color: rgba(25, 103, 242, 1);
  font-size: 14px;
  line-height: 18px;
  font-family: "bold";
}
.i-product-price-area {
  display: flex;
  flex-direction: column;
}
.i-product-price-content {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 16px;
}
.i-product-price-section-row1 {
  display: flex;
  flex-direction: row;
}
.i-product-price-discount-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.i-product-price-discound {
  color: #008b37ff;
  margin-right: 6px;
  font-size: 22px;
  line-height: 28px;
  font-family: "extrabold";
  align-content: center;
  max-width: 100%;
}
.i-product-cutted-price {
  display: flex;
  flex-direction: column;
}
.i-product-cut-price-container {
  color: #707070ff;
  align-content: center;
  text-decoration-line: line-through;
  margin-right: 6px;
  font-size: 22px;
  line-height: 28px;
}
.i-product-org-price-section {
  display: flex;
  flex-direction: column;
}
.i-product-org-price {
  color: #333333ff;
  box-sizing: border-box;
  align-content: center;
  font-size: 22px;
  line-height: 28px;
  font-family: "extrabold";
}
.i-price-section-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4px;
}
.i-product-price-row2-item1 {
  color: #707070ff;
  font-size: 10px;
  line-height: 12px;
  font-family: "regular";
}
.i-product-bankoffer-emi-card-section {
  display: flex;
  flex-wrap: wrap;
  /* margin: auto; */
  width: 100%;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.i-product-bankoffer-content-area {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  padding: 16px;
  flex-grow: 1;
}
.i-product-bank-top-part {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
}
.i-product-bank-top-main-wrap {
  border-radius: 0px;
  background: linear-gradient(rgb(18, 84, 231), rgb(24, 60, 145));
  min-height: 84px;
  position: relative;
}
.i-product-bank-offer-content-area {
  flex-direction: row;
  align-items: center;
  height: 44px;
  display: flex;
  position: relative;
  padding: 4px 16px;
  padding-top: 12px;
}
.i-product-bank-offer-row1-text {
  display: flex;
}
.i-product-bank-offer-row1-contentarea {
  color: rgb(255, 255, 255);
  margin-left: 4px;
  font-size: 14px;
  line-height: 20px;
  font-family: "regular";
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.i-product-offer-row1-text2 {
  display: flex;
  flex: 1 1 0%;
  min-width: 21px;
}
.i-product-bank-offer-up-arrow {
  display: flex;
  flex-direction: column;
  transform: rotate(180deg);
}
.i-product-bank-offer-bottomm-part-main {
  display: flex;
}
.i-product-bank-offer-bottom-wrap {
  display: flex;
  flex-grow: 1;
}
.i-product-bank-offer-bottom-wrap {
  background-color: rgb(207, 235, 254);
  border-radius: 16px;
  margin-top: -36px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.i-product-bank-offer-curved-image {
  position: absolute;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  display: flex;
  width: 92.7%;
  flex-grow: 1;
  max-width: 735px;
}
.curver-banner {
  /* width: 344px; */
  left: -0.5px;
  width: 100%;
  top: -1px;
  max-width: 740px;
}

.i-product-bank-offer-curved-image-bottom {
  flex: 1 1 0%;
  top: -3px;
  background-color: rgb(207, 235, 254);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-color: rgb(141, 201, 253);
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  display: flex;
  position: relative;
}
.i-product-bank-offer-bottom-price-section {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.i-product-bo-flex-area {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.i-product-bo-price-wrap {
  display: flex;
  flex-direction: column;
  flex: 4 1 0%;
}
.i-product-bo-price-content {
  border-radius: 16px 16px 0px 0px;
  min-width: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: flex-start;
  padding-left: 12px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.i-product-bo-price-content-r {
  border-radius: 16px 16px 0px 0px;
  min-width: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}
.i-product-bo-org-price-content {
  color: rgb(51, 51, 51);
  font-size: 17px;
  line-height: 22px;
  font-family: "bold";
}
.i-product-bo-lowest-price-content {
  color: rgb(51, 51, 51);
  font-size: 11px;
  line-height: 14px;
  font-family: "regular";
  margin-top: 4px;
}
.i-product-bo-or-text-flex-area {
  border-radius: 24px;
  height: 24px;
  width: 24px;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 44.44%;
  margin-left: -12px;
  margin-top: -12px;
  display: flex;
}
.i-product-bo-or-text-content {
  color: rgb(51, 51, 51);
  font-size: 10px;
  line-height: 12px;
  font-family: "bold";
}
.i-product-bank-exchange-section {
  display: flex;
  flex-direction: column;
  padding: 8px 8px 4px;
}
.i-product-bank-exchange-section-top {
  display: flex;
  margin-bottom: 8px;
}
.i-product-bank-exchange-outer-wrap {
  border-radius: 12px;
  height: 78px;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: height;
  display: flex;
  flex-grow: 1;
}
.i-product-bank-exchange-content {
  width: 100%;
  padding: 8px 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.i-product-bank-exchange-row1 {
  margin-right: 80px;
  padding: 1px 2px 8px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
.i-product-bank-exchange-row1-exchange-content {
  color: rgb(112, 112, 112);
  font-size: 11px;
  line-height: 14px;
  font-family: "bold";
}
.i-exchange-bank-exchange-row2 {
  display: flex;
  flex-direction: column;
}
.i-exchange-bank-exchange-row2-flexarea {
  flex-direction: row;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  display: flex;
}
.i-bank-exchange-button {
  display: flex;
  padding: 6px;
  background-color: rgb(250, 250, 250);
  margin-right: 4px;
  border-radius: 8px;
}
.i-bank-exchange-row2-right-side {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding-left: 6px;
  position: relative;
}
.i-bank-exchange-row2-right-side-first-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.i-bank-exchange-row2-right-side-first-content {
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 18px;
  font-family: "bold";
  max-width: 100%;
}
.i-bank-exchange-row2-seconf-text-second-content {
  color: rgb(51, 51, 51);
  font-size: 11px;
  line-height: 14px;
  font-family: "regular";
  flex-shrink: 1;
}
.i-exchange-apply-button {
  position: absolute;
  top: 0px;
  right: 0px;
  align-items: flex-end;
  padding-top: 6px;
  display: flex;
  flex-direction: column;
}
.i-exchange-apply-content {
  color: rgb(25, 103, 242);
  font-size: 14px;
  line-height: 18px;
  font-family: "bold";
  padding-right: 12px;
}
.i-product-highlights-section {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: 0px 0px 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px 0px;
  flex-direction: column;
  flex: 1;
}
.i-highlights-top-section {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  flex-flow: wrap;
}
.i-highlights-section-text {
  display: flex;
  color: rgb(32, 34, 36);
  font-size: 17px;
  line-height: 24px;
  font-family: "semi-bold";
  letter-spacing: -0.01px;
  flex: 1 1 0%;
  flex-direction: column;
}
.i-highlights-bottom-section {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 0px;
}
.i-highlight-feature-area {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  align-items: center;
}
.i-highlight-feature-img {
  display: flex;
  position: relative;
  margin-right: 16px;
  width: 28px;
  height: 28px;
}
.i-highlight-feature-img img {
  opacity: 1;
  transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
}
.i-display-feature-description-area {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.i-display-feature-heading {
  line-height: 20px;
  font-size: 14px;
  color: rgba(113, 116, 120, 1);
  margin-bottom: 4px;
  font-family: "roboto";
}
.i-display-feature-text1 {
  line-height: 20px;
  font-size: 14px;
  font-family: "roboto-medium";
}
.i-display-feature-text2 {
  color: rgb(17, 17, 18);
  margin-top: 4px;
  font-size: 12px;
  line-height: 18px;
  font-family: "regular";
  letter-spacing: 0px;
}
.iproduct-laptop-screen {
  display: none;
}
.ip-body-wrap {
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 1366px;
  min-width: 1128px;
  padding: 0;
  color: #212121;
  line-height: 1.4;
}
.ip-large-screen-outer {
  display: flex;
  flex-direction: row;
  padding: 16px;
  background-color: rgb(255, 255, 255);
}
.ip-image-area {
  width: 41.66%;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 64px;
   z-index: 2;
}
.il-img-section {
  display: block;
  position: sticky;
  top: 64px;
  width: 100%;
}
.il-img-flex-area {
  display: flex;
  position: relative;
  flex-direction: row;
}
.il-img-list-area {
  height: 448px;
}
.il-img-ul {
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  padding: 0;
  margin: 0;
}
.il-img-li {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  list-style: none;
  border-bottom: none;
  border-right: none;
}
.il-img-wrap {
  padding: 5px;
  width: 100%;
  height: 100%;
  position: relative;
}
.il-img-outer {
  width: 100%;
  height: 100%;
}
.il-img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 5px;
}
.il-img-display-area{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   border: 1px solid #f0f0f0;
   flex: 1; 
}
.il-img-display-wrap{
    position: relative;
    margin: 0 auto;
}
.il-img-main{
       display: inline-block;
    max-height: 416px;
    max-width: 416px;
    vertical-align: top;
    margin: auto;
    cursor: crosshair;
 }
 .il-product-heart-button{
            cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid #f0f0f0;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
        padding: 9px 12px 12px 9px;
        background:#fff;
 }
 .il-product-heart-wrap{
    position: relative;
    display: inline-flex;

 }
 .il-addtocart-buynow-section{
    display: block;
    position: sticky;
    top: 510px;
    width: 100%;
 }
 .il-addtocart-buynow-wrap{
    margin-left: 64px;
    margin-top: 12px;
 }
 .il-cartby-ul{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    padding: 0;
    margin:0;
 } 
 .il-addtocart{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    list-style: none;
 }
 .il-addtocart-button{
       padding: 18px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 98%;
    border: none;
    float: left;
    background:#ff9f00;
    color: white; 
    font-size: 15px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    outline: none;
    font-family: "semi-bold";
 }
 .il-addtocart-icon{
    margin-right: 4px;
    height: 16px;
    width: 16px;
    display: inline-block;
 }
 .il-buynow{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    flex: 1;
    list-style: none;
 }
 .il-buynow-button{
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    padding: 18px 8px;
    border-radius: 2px;
    float: right;
    width: 98%;
    font-size: 15px;
     display: inline-block;
    font-weight: 500;
    transition: box-shadow .2s ease;
    outline: none;
     font-family: "semi-bold";
 }
 .il-buynow-flash{
    display: inline-block;
    vertical-align:middle;
    background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMHY3LjdoMi4xVjE0TDcgNS42SDQuMkw3IDAiIGZpbGw9IiNGRkYiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    height: 14px;
    width: 14px;
    margin-right: 4px;
 }
 .il-product-details-area{
    padding: 0px 0px 0px 24px;
    display: flex;
    flex-direction: column;
    width: 66.66%;
 }
 .il-product-details-route-area{
    display: flex;
    flex-direction: row;
    line-height: 1.4;
 }
 .il-route-section{
    display: block;
    flex-grow: 1;
    max-height:20.2px;
 }
 .il-route-home-section{
    font-size: 12px;
    color: #878787;
    display: inline-block;
     min-height: 18px;
     align-items: center;
     letter-spacing: -0.7px;
     box-sizing:border-box;
 }
 .il-route-text{
    max-width: 80px;
     padding-top:3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
     text-decoration: none;
    color: rgb(135, 135, 135);
 }
 .il-home-arrow{
        height: 7px;
        margin-bottom: 5px;
        /* margin-left: 1px; */
    width: 20px;
     transform: rotate(180deg);
 }
 .il-product-heading-area{
   display: block;
   width: 100%; 
 }
 .il-product-heading-content{
    padding:0;
    margin-top: 6px;
  }
 .il-product-name{
    color: #212121;
    font-size: 17.5px;
    font-weight: 400;
    display: contents;
    font-family: "regular";
 }
 .il-product-rating-ara{
    display: flex;
    align-items: center;
    align-content: center;
 }
 .il-product-rating-area{
        display: inline-block;
     cursor: pointer;
 } 
 .il-product-rating-outer-wrap{
    display: inline-block;
    vertical-align: middle;
    margin-top: 7.5px;
 }
 .il-product-f-assured-logo{
    margin-left: 12px;
    margin-top: 6px;
    display: inline-flex;
    align-items: center;
  }
 .il-f-assured{
    height: 21px;
 }
 .il-product-special-price-section{
        font-weight: 500;
    text-align: left;
    color: #388e3c;
    font-size:13.5px;
    font-family: "semi-bold";
    margin: 12px 0 -12px;
 }
 .il-product-price-section{
    padding-top: 14px;
    display: flex;
    
 }
 .il-product-price-off-section{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 .il-product-org-price{
   font-size: 26.5px;
   font-family: "semi-bold";
   font-weight: 500;
   color:#212121;
 }
 .il-product-cutt-price{
    font-size: 15px;
    margin-left: 12px;
    padding-top: 4px;
     color: #878787;
     text-decoration: line-through;
     font-family: "regular";
  }
  .il-product-off-percent-section{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #388e3c;
    font-family: "semi-bold";
    padding-top: 3px;
     }
     .il-product-price-section-rightsideO{
        margin: 14px 0 0 8px;
     } 
     .il-productsection-i-section{
        display: flex;
      }
      .il-product-price-description-section{
        font-size: 13.8px;
    font-weight: 400;
    font-family: "regular";
    line-height: 20px;
      }
      .il-product-price-description-firstrow{
       padding-bottom:4px;
      }
      .il-price-learn-more{
        color: #2a55e5;
        font-family: "semi-bold";
    font-weight: 500;
      }
      .il-product-price-description-second-row{
        white-space:pre-wrap;
        font-size: 13.8px;
        letter-spacing: 0.1px;
    font-weight: 400;
    line-height: 20px;
      }
      .il-product-available-offers-section{
        display: block;
        width: 100%;
      }
      .il-available-offers-heading{
        margin-top: 8px;
        font-family: "semi-bold";
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.4px;
        color: #212121;
      }
      .il-available-offers-section-body{
        line-height: 1.43;
    color: #212121;
    font-size: 14px;
    position: relative;
      }
      .il-available-offer-item{
        margin-top: 12px;
        width: 100%;
        display: flex;
        flex-direction: row;
      }
      .il-available-offer-tag-image{
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }
      .i-avalable-offer-bank-offer-text{
            color: #212121;
    font-weight: 500;
    padding-right: 4px;
    line-height: 1.43;
    font-size: 13.8px;
    margin-top: -2px;
    font-family: "semi-bold";
      }   
      .i-avilable-offer-text{
         color: #212121;
     padding-right: 4px;
    line-height: 1.43;
    font-size: 13.7px;
    margin-top: -2px;
    letter-spacing: 0.04px;
    font-family: "regular";
      }
      .i-available-offers-tc-text{
        color: #2874f0;
      font-size: 13.8px;
      margin-top: -2px;
     font-family: "semi-bold";
       }
    .il-product-highlights-section{
        display: flex;
        flex-direction: row;
        padding: 24px 0px 0px;
    }
    .il-product-highlights-outer{
        display: block;
        width: 50%;
    }
    .il-product-highlights-content{
       padding-right: 16px; 
       /* display: flex;
       flex-direction: row; */
    }
    .il-product-highlight-text{
        font-weight: 500;
    color: #878787;
    width: 110px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 1.4;
    font-family: "semi-bold";
     }
     .il-product-highlights-listing-area{
        margin-left: 110px;
        margin-top: -17px;
     }
     .il-product-highlights-li{
            color: #212121;
    padding: 0 0 8px 16px;
    position: relative;
    font-size: 14px;
    font-family: "regular";
    list-style: none;
     }
     .il-product-highlights-li::after{
            content: "";
    height: 6px;
    width: 6px;
    position: absolute;
    top: 6px;
    left: 0;
    border-radius: 50%;
    background: #c2c2c2;
     }
     .il-product-descriptionl-main{
        display: block;
        width: 100%;
     }
     .il-description-headingl{
        margin-top: 24px;
    border-radius: 2px 2px 0 0;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-bottom: none;
    padding: 24px;
    color: #212121;
     }
     .il-description-heading-contentl{
      font-size: 22px;
     font-family:"semi-bold";
    line-height: 1;
}
.il-product-description-area1{
  padding:24px;
  padding-bottom: 0px;
  margin-top: -1px; 
  background-color: #fff;
  border: 1px solid #f0f0f0;
}

.li-image-sectionl{
  margin: 0 auto 5px 0;
  overflow: hidden;
  min-width: 200px;
  padding-left: 32px;
  text-align: right;
}
 
.li-image-sectionl img{
  max-width: 100%;
  vertical-align: middle;
}
.il-description-subheading{
  font-size: 19px;
  padding-bottom: 10px;
  font-weight: 400;
  font-family: "regular";
  color: #212121;
}
.il-description-paragraph-section{
  font-weight: 400;
  color: #212121;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: "regular";
  margin-top: -30px;
}
.il-description-paragraphp{
   font-weight: 400;
  color: #212121;
  font-size: 14px;
  line-height: 1.29;
    font-family: "regular";
    margin-top: 10px;
}
@media screen and (min-width: 460px) {
  .i-image-container { 
    aspect-ratio: 2 / 2;
  }
  .i-image-area {
    background-color: white;
  }
}

@media screen and (min-width: 550px) {
  .i-image-container {
    aspect-ratio: 3 / 2;
  }
}
@media screen and (min-width: 1250px) {
  .i-product-details-main {
    display: none;
  }
  .iproduct-laptop-screen {
    display: block;
  }
}
