.bestmain-wrapper{
    margin: 0px 16px;
}


.best-outerwrapp{
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
}
.best-innerwrap{
    grid-column: 1/11;   
    background-color: white;
    position: relative;
}
.bestcategory-namewrapper{
   font-size: 22px;
    line-height: 30px;
    letter-spacing: -.02px;
   font-family: "semi-bold";
    padding: 16px 12px;
}
 
 .best-productarea{
    display: flex;
    padding: 0 4px 12px;
    overflow: hidden;
 }
.bestproduct-innerwrap{
   padding: 12px 24px;
    width: 216px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.best-imagearea{
    width: "152px";
     height:"152px";
}
 
.best-imagearea:hover{
    transform: scale(1.05);
}
.bestdecription{
     width: 152px;
    padding-top: 12px;
}
.firstdescription{

    text-overflow: ellipsis;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01px;
       font-family:"regular";
    overflow-wrap: normal;
    overflow: hidden;
    white-space: nowrap;
}
.offer{
    font-family:"semi-bold";
    text-overflow: ellipsis;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01px;
    overflow-wrap: normal;
    overflow: hidden;
    white-space: nowrap;
}
