.bestmain-wrapper{
    margin: 0px 16px;
     display: none;
}

.best-outerwrapp{
    margin-top: 16px;
   
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
}
.best-innerwrap{
    grid-column: 1/13;   
    background-color: white;
    position: relative;
}
.bestcategory-namewrapper{
   font-size: 22px; 
    line-height: 30px;
    letter-spacing: -.02px;
   font-family: "semi-bold";
    padding: 16px 12px;
}
 
 .best-productarea{
    display: flex;
    padding: 0 4px 12px;
    overflow: scroll;
    scrollbar-width: none;
 }
.bestproduct-innerwrap{
   padding: 12px 24px;
    min-width: 156px;
    box-sizing: border-box;
    max-width: 156px;
    margin: 8px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.best-imagearea{
    width: 108px;
     height:108px;
    }
 .best-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
.best-imagearea:hover{
    transform: scale(1.05);
}
.bestdecription{
     width: 152px;
    padding-top: 12px;
}
.firstdescription{

    text-overflow: ellipsis;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01px;
       font-family:"regular";
    overflow-wrap: normal;   
    overflow: hidden;
    white-space: nowrap;
}
.secondescription{
    font-family:"semi-bold";
    text-overflow: ellipsis;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.01px;
    overflow-wrap: normal;
    overflow: hidden;
    white-space: nowrap;
}
.home-ad-section{
    height: calc(100% - 16px);
    background-color: rgb(255, 255, 255);
    margin-top: 16px;
    margin-bottom: 16px;
}
.home-ad-flex-area{
    display: flex;
    flex-flow: wrap;
    position: relative;
}
.home-ad-outer-wrap{ 
   flex-basis: 33.3333%;
    width: 33.3333%;
    flex-grow: 0;
    flex-shrink: 0;
}
.home-ad-content{
        background-color: rgb(240, 242, 245);
    margin-right: 4px;
    margin-left: 4px;
}
.home-ad-content img{
        width: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
    aspect-ratio: 41 / 22;
}
@media screen and (min-width:1024px){
    .bestmain-wrapper{
        display: contents;
    }
} 
