.sidebar{
    display: flex;
    align-items: center;
    background: linear-gradient(30deg,#2874f0,#0065c5);
    padding: 2px 0;
    height: 60px;
}
.lapitem{
    margin: 0px 0px 16px;
    display: flex;
    flex-direction: column;
    
}